body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  width: 100%;
  /* display: flex; */
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 54px;
}

h1 {
  color: #1cb2f5;
}

.content {
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
}

button {
  padding: 16px 42px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
  line-height: 1.25;
  background: black;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: background-color 0.6s ease;
  overflow: hidden;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
}
